[MASTER]
ignore=ignore
jobs=0
suggestion-mode=yes

[REPORTS]
score=no

[MESSAGES CONTROL]
disable=duplicate-code,
        import-outside-toplevel,
        raise-missing-from,
        too-many-arguments,
        too-many-branches,
        too-many-instance-attributes,
        too-many-locals
