#
# Copyright (C) 2015-2024 Rodrigo A. Melo
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

cleancablelock

{% if FPGA %}
setMode -bs
setCable -port auto
Identify -inferir
assignFile -p {{ POSITION }} -file  {{ BITSTREAM }}
Program -p {{ POSITION }}
{% endif %}

{% if SPI %}
setMode -pff
addConfigDevice -name {{ NAME }} -path .
setSubmode -pffspi
addDesign -version 0 -name 0
addDeviceChain -index 0
addDevice -p 1 -file {{ BITSTREAM }}
generate -generic

setMode -bs
setCable -port auto
Identify
attachflash -position {{ POSITION }} -spi {{ NAME }}
assignfiletoattachedflash -position {{ POSITION }} -file ./{{ NAME }}.mcs
Program -p {{ POSITION }} -dataWidth {{ WIDTH }} -spionly -e -v -loadfpga
{% endif %}

{% if BPI %}
setMode -pff
addConfigDevice -name {{ NAME }} -path .
setSubmode -pffbpi
addDesign -version 0 -name 0
addDeviceChain -index 0
setAttribute -configdevice -attr flashDataWidth -value {{ WIDTH }}
addDevice -p 1 -file {{ BITSTREAM }}
generate -generic

setMode -bs
setCable -port auto
Identify
attachflash -position {{ POSITION }} -bpi {{ NAME }}
assignfiletoattachedflash -position {{ POSITION }} -file ./{{ NAME }}.mcs
Program -p {{ POSITION }} -dataWidth {{ WIDTH }} -rs1 NONE -rs0 NONE -bpionly -e -v -loadfpga
{% endif %}

quit
