{#
#
# Copyright (C) 2024 PyFPGA Project
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
#}

if { [catch {open_project {{ project }}/{{ project }}.prjx} ] } {
  open_project {{ project }}.prjx
}
run_tool -name {PROGRAMDEVICE}
