#
# Copyright (C) 2015-2024 Rodrigo A. Melo
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

#proc fpga_include {PATH} {
#    lappend INCLUDED $PATH
#    # Verilog Included Files are ALSO added
#    # They must be specified after set_root (see fpga_top)
#    foreach FILE [glob -nocomplain $PATH/*.vh] {
#        create_links -hdl_source $FILE
#    }
#    build_design_hierarchy
#}

#--[ Project configuration ]---------------------------------------------------

{% if CFG %}
if { [ file exists {{ PROJECT }} ] } { file delete -force -- {{ PROJECT }} }
new_project -name {{ PROJECT }} -location . -hdl {VHDL} -family {SmartFusion2}

set_device -family {{ FAMILY }} -die {{ DEVICE }} -package {{ PACKAGE }} -speed {{ SPEED }}

{{ PRECFG }}

{{ FILES }}
build_design_hierarchy

{% if TOP %}
set_root {{ TOP }}
{% endif %}

{% if INCLUDES or DEFINES or PARAMS %}
configure_tool -name {SYNTHESIZE} -params {SYNPLIFY_OPTIONS:
{% if INCLUDES %}  set_option -include_path "{{ INCLUDES }}"{% endif %}
{% if DEFINES %}  set_option -hdl_define "{{ DEFINES }}"{% endif %}
{% if PARAMS %}  set_option -hdl_param "{{ PARAMS }}"{% endif %}
}
{% endif %}

# Constraints
# PDC is only used for PLACEROUTE.
# SDC is used by ALL (SYNTHESIZE, PLACEROUTE and VERIFYTIMING).
#global LIBERO_PLACE_CONSTRAINTS
#global LIBERO_OTHER_CONSTRAINTS
#if { [info exists LIBERO_OTHER_CONSTRAINTS] } {
#    set cmd "organize_tool_files -tool {SYNTHESIZE} "
#    append cmd $LIBERO_OTHER_CONSTRAINTS
#    append cmd "-module {{ TOP }} -input_type {constraint}"
#    eval $cmd
#    set cmd "organize_tool_files -tool {VERIFYTIMING} "
#    append cmd $LIBERO_OTHER_CONSTRAINTS
#    append cmd "-module {{ TOP }} -input_type {constraint}"
#    eval $cmd
#}
#if { [info exists LIBERO_PLACE_CONSTRAINTS] } {
#    set cmd "organize_tool_files -tool {PLACEROUTE} "
#    append cmd $LIBERO_PLACE_CONSTRAINTS
#    append cmd "-module {{ TOP }} -input_type {constraint}"
#    eval $cmd
#}

#organize_tool_files -tool {SYNTHESIZE} \
#  -file ../resources/constraints/maker-board/clk.sdc \
#  -module Blink -input_type {constraint}

#organize_tool_files -tool {PLACEROUTE} \
#  -file ../resources/constraints/maker-board/clk.sdc \
#  -file ../resources/constraints/maker-board/clk.pdc \
#  -file ../resources/constraints/maker-board/led.pdc \
#  -module Blink -input_type {constraint}

#organize_tool_files -tool {VERIFYTIMING} \
#  -file ../resources/constraints/maker-board/clk.sdc \
#  -module Blink -input_type {constraint}

{{ POSTCFG }}

close_project
{% endif %}

#--[ Design flow ]-------------------------------------------------------------

{% if SYN or PAR or BIT %}
open_project {{ PROJECT }}/{{ PROJECT }}.prjx

{% if SYN %}
{{ PRESYN }}

run_tool -name {SYNTHESIZE}

{{ POSTSYN }}
{% endif %}

{% if PAR %}
{{ PREPAR }}

run_tool -name {PLACEROUTE}
run_tool -name {VERIFYTIMING}

{{ POSTPAR }}
{% endif %}

{% if BIT %}
{{ PREBIT }}

run_tool -name {GENERATEPROGRAMMINGFILE}

{{ POSTBIT }}
{% endif %}

close_project
{% endif %}
