#
# Copyright (C) 2015-2024 Rodrigo A. Melo
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

_TEMPLATES = {
    'fpga': """\
""",
    'detect': """\
"""
}

# open_project -file {$TEMPDIR/libero.prjx}
# run_tool -name {CONFIGURE_CHAIN} -script {$TEMPDIR/flashpro.tcl}
# run_tool -name {PROGRAMDEVICE}

# set flashpro_programmer "configure_flashpro5_prg -vpump {ON} \
# -clk_mode {free_running_clk} -programming_method {spi_slave} \
# -force_freq {OFF} -freq {4000000}"
