#
# PyFPGA
# Copyright (C) 2020-2024 Rodrigo A. Melo
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

set -e

###############################################################################
# Things to tuneup
###############################################################################

FAMILY={family}
PROJECT={project}

#
# Tools configuration
#

OCI_ENGINE="{oci_engine}"

CONT_ICEPROG="{cont_iceprog}"
CONT_OPENOCD="{cont_openocd}"

TOOL_ICEPROG="{tool_iceprog}"
TOOL_OPENOCD="{tool_openocd}"

###############################################################################
# Programming
###############################################################################

if [[ $FAMILY == "ice40" ]]; then
    $OCI_ENGINE $CONT_ICEPROG $TOOL_ICEPROG $PROJECT.bit
elif [[ $FAMILY == "ecp5" ]]; then
    $OCI_ENGINE $CONT_OPENOCD $TOOL_OPENOCD \
        -f /usr/share/trellis/misc/openocd/ecp5-evn.cfg \
        -c "transport select jtag; init; svf $PROJECT.svf; exit"
else
    echo "ERROR: unsuported tool" && exit 1
fi
