#
# Copyright (C) 2015-2024 Rodrigo A. Melo
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

#--[ Project configuration ]---------------------------------------------------

{% if CFG %}
package require ::quartus::project
project_new {{ PROJECT }} -overwrite
set_global_assignment -name DEVICE {{ PART }}

{{ PRECFG }}

{% if FILES %}{% for NAME, ATTR in FILES.items() %}
{% if ATTR.hdl == "vhdl" %}
set_global_assignment -name VHDL_FILE {{ NAME }} {% if 'lib' in ATTR %} -library {{ ATTR.lib }}{% endif %}
{% elif ATTR.hdl == "vlog" %}
set_global_assignment -name VERILOG_FILE {{ NAME }}
{% elif ATTR.hdl == "slog" %}
set_global_assignment -name SYSTEMVERILOG_FILE {{ NAME }}
{% endif %}
{% endfor %}{% endif %}

{% if CONSTRAINTS %}{% for name, attr in CONSTRAINTS.items() %}{% set name_str = name|string %}
{% if name_str.endswith('.sdc') %}
set_global_assignment -name SDC_FILE {{ name_str }}
{% else %}
source {{ name_str }}
{% endif %}
{% endfor %}{% endif %}

{% if TOP %}set_global_assignment -name TOP_LEVEL_ENTITY {{ TOP }}{% endif %}

{% if INCLUDES %}{% for INCLUDE in INCLUDES %}
set_global_assignment -name SEARCH_PATH {{ INCLUDE }}
{% endfor %}{% endif %}

{% if DEFINES %}{% for KEY, VALUE in DEFINES.items() %}
set_global_assignment -name VERILOG_MACRO {{ KEY }}={{ VALUE }}
{% endfor %}{% endif %}

{% if PARAMS %}{% for KEY, VALUE in PARAMS.items() %}
set_parameter -name {{ KEY }} {{ VALUE }}
{% endfor %}{% endif %}

{{ POSTCFG }}

project_close
{% endif %}

#--[ Design flow ]-------------------------------------------------------------

{% if SYN or PAR or BIT %}
package require ::quartus::flow
project_open -force {{ PROJECT }}.qpf
# set_global_assignment -name NUM_PARALLEL_PROCESSORS ALL

{% if SYN %}
{{ PRESYN }}

execute_module -tool map

{{ POSTSYN }}
{% endif %}

{% if PAR %}
{{ PREPAR }}

execute_module -tool fit
execute_module -tool sta

{{ POSTPAR }}
{% endif %}

{% if BIT %}
{{ PREBIT }}

execute_module -tool asm

{{ POSTBIT }}
{% endif %}

project_close
{% endif %}
