#
# Copyright (C) 2015-2024 Rodrigo A. Melo
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

#--[ Project configuration ]---------------------------------------------------

{% if CFG %}
package require ::quartus::project
project_new {{ PROJECT }} -overwrite
set_global_assignment -name DEVICE {{ PART }}

{{ PRECFG }}

{{ FILES }}

{% if TOP %}
set_global_assignment -name TOP_LEVEL_ENTITY {{ TOP }}
{% endif %}

{% if DEFINES %}
set defines [dict create {{ DEFINES }}]
foreach {key value} $defines {set_global_assignment -name VERILOG_MACRO "$key=$value"}
{% endif %}

{% if INCLUDES %}
set includes { {{ INCLUDES}} }
foreach value $includes {set_global_assignment -name SEARCH_PATH $value}
{% endif %}

{% if PARAMS %}
set params [dict create {{ PARAMS }}]
foreach {key value} $params {set_parameter -name $key $value}
{% endif %}

{{ POSTCFG }}

project_close
{% endif %}

#--[ Design flow ]-------------------------------------------------------------

{% if SYN or PAR or BIT %}
package require ::quartus::flow
project_open -force {{ PROJECT }}.qpf
# set_global_assignment -name NUM_PARALLEL_PROCESSORS ALL

{% if SYN %}
{{ PRESYN }}

execute_module -tool map

{{ POSTSYN }}
{% endif %}

{% if PAR %}
{{ PREPAR }}

execute_module -tool fit
execute_module -tool sta

{{ POSTPAR }}
{% endif %}

{% if BIT %}
{{ PREBIT }}

execute_module -tool asm

{{ POSTBIT }}
{% endif %}

project_close
{% endif %}
