#
# Copyright (C) 2015-2024 Rodrigo A. Melo
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

#--[ Project configuration ]---------------------------------------------------

{% if CFG %}
create_project -force {{ PROJECT }}
set_property SOURCE_MGMT_MODE None [current_project]
set_property STEPS.SYNTH_DESIGN.ARGS.ASSERT true [get_runs synth_1]
set_property PART {{ PART }} [current_project]

{{ PRECFG }}

{{ FILES }}

{% if TOP %}
set_property TOP {{ TOP }} [current_fileset]
{% endif %}

{% if DEFINES %}
set_property VERILOG_DEFINE { {{ DEFINES}} } [current_fileset]
{% endif %}

{% if INCLUDES %}
set_property INCLUDE_DIRS { {{ INCLUDES}} } [current_fileset]
{% endif %}

{% if PARAMS %}
set_property GENERIC { {{ PARAMS }} } -objects [get_filesets sources_1]
{% endif %}

{{ POSTCFG }}

close_project
{% endif %}

#--[ Design flow ]-------------------------------------------------------------

{% if SYN or PAR or BIT %}
open_project {{ PROJECT }}

{% if SYN %}
{{ PRESYN }}

# PRESYNTH
# set_property DESIGN_MODE GateLvl [current_fileset]
reset_run synth_1
launch_runs synth_1
wait_on_run synth_1
#report_property [get_runs synth_1]
if { [get_property STATUS [get_runs synth_1]] ne "synth_design Complete!" } { exit 1 }

{{ POSTSYN }}
{% endif %}

{% if PAR %}
{{ PREPAR }}

reset_run impl_1
launch_runs impl_1
wait_on_run impl_1
#report_property [get_runs impl_1]
if { [get_property STATUS [get_runs impl_1]] ne "route_design Complete!" } { exit 1 }

{{ POSTPAR }}
{% endif %}

{% if BIT %}
{{ PREBIT }}

open_run impl_1
write_bitstream -force {{ PROJECT }}
write_debug_probes -force -quiet {{ PROJECT }}.ltx

{{ POSTBIT }}
{% endif %}

close_project
{% endif %}
