name: 'lint'

on:
  push:
    paths:
      - 'examples/**'
      - 'pyfpga/**'
      - 'tests/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install pycodestyle pylint
    - name: Run linting
      run: make lint
